<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Mental Strong</title>
    <link rel="stylesheet" href="css/estilo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="shortcut icon" href="../public/resources/mental-strong.ico" type="image/x-icon">
</head>

<body>

    <main>
        <section id="ventana_prin">

            <aside id="menu_lateral">
                <%-include('menu.ejs')%>
            </aside>
            <section id="main_recetas">

                <div id="cont_info_prin">
                    <% if(user_foto_perfil){%>
                        <img src="<%-user_foto_perfil%>">
                        <%} else {%>
                            <img src="./resources/img_us/sin-foto.png">
                            <%}%>
                                <h3 class="nombre_us"><%-user_name%></h3>
                </div>
                <section class="cont_rec" id="cont_us_editar">

                    <div id="cont_main">
                        <div class="cont_datos">

                            <h4>Detalles de usuario</h4>

                            <div class="datos_user">
                                <h3>Nombre</h3>
                                <input class="bloqueado" type="text" value="<%-user_nombre_regis%>" readonly>
                            </div>
                            <div class="datos_user">
                                <h3>Apellido</h3>
                                <input class="bloqueado" type="text" value="<%-user_apellido_regis%>" readonly>
                            </div>
                            <div class="datos_user">
                                <h3>DNI</h3>
                                <input class="bloqueado" type="text" value="<%-user_dni%>" readonly>
                            </div>
                            <div class="datos_user">
                                <h3>Correo</h3>
                                <input type="text" value="<%-user_email%>">
                            </div>
                            <div class="datos_user">
                                <h3>Genero</h3>
                                <input type="text" placeholder="Genero" value="<%-user_genero%>">
                            </div>
                            <div class="datos_user">
                                <h3>Altura</h3>
                                <input type="text" placeholder="Altura" value="<%-user_altura%>">
                            </div>
                            <div class="datos_user">
                                <h3>Peso</h3>
                                <input type="text" placeholder="Peso" value="<%-user_peso%>">
                            </div>
                        </div>
                        <div class="cont_datos">
                            <h4>Detalles de nutricion</h4>
                            <div class="datos_user">
                                <h3>Tipo de dieta</h3>
                                <input type="text" placeholder="Tipo de dieta" value="<%-user_dieta%>">
                            </div>
                            <div class="datos_user">
                                <h3>Objetivo nutricional</h3>
                                <input type="text" placeholder="Objetivo nutricional" value="<%-user_obj_nut%>">
                            </div>
                        </div>

                        <div class="cont_datos">
                            <h4>Detalles de deporte</h4>
                            <div class="datos_user">
                                <h3>Tipo de deporte</h3>
                                <input type="text" placeholder="TIpo deporte" value="<%-user_deporte%>">
                            </div>
                            <div class="datos_user">
                                <h3>Objetivo deportivo</h3>
                                <input type="text" placeholder="Objetivo deportivo" value="<%-user_obj_dep%>">
                            </div>
                            <div class="datos_user">
                                <h3>Frecuencia de la actividad</h3>
                                <input type="text" placeholder="Frecuencia" value="<%-user_frecuencia%>">
                            </div>
                            <div class="datos_user">
                                <h3>Intensidad de la actividad</h3>
                                <input type="text" placeholder="Intensidad" value="<%-user_intensidad%>">

                            </div>
                        </div>
                    </div>
                </section>
            </section>
    </main>
</body>

</html>