<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Strong</title>
    <link rel="stylesheet" href="css/estilo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="shortcut icon" href="../public/resources/mental-strong.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <main>
        <section id="ventana_prin">
            <aside id="menu_lateral">
                <%- include('menu.ejs') %>
            </aside>

            <section id="main_recetas" class="cont_prog_main">
                <h2 id="nombre_us">Tus actividades</h2>
                <div id="cont_prog">
                    <% let i=0; %>
                        <% results.forEach(actividad=> { %>
                            <div class="datos_user" id="datos_us<%= i %>">
                                <div class="info">
                                    <h3><%- actividad.Nombre %></h3>
                                    <p>Tipo de medidad: <%-actividad.TipoRegistro %></p>

                                </div>
                                <div class="opciones">
                                    <a href=" /progreso_focus/<%-actividad.ID %>" class="cont_a">
                                        <i class="fa-solid fa-chart-line"></i>
                                        Progreso</a>
                                    <p class="btn_actualizar cont_a">
                                        <i class="fa-solid fa-pen"></i>
                                        Actualizar
                                    </p>
                                </div>
                            </div>
                            <% i +=1; %>
                                <% }) %>
                </div>

            </section>

        </section>
        </section>
        <div id="Actualizar_datos" class="desac">

            <form method="post" action="/progreso_actualizar" class="form_us">
                <i class="fa-solid fa-xmark" id="cancel"></i>

                <h4>Actualizar datos</h4>
                <div class="cont_inp">
                    <label for="nombre_act" id="label_nombre_act">Actualizar datos de</label>
                    <input id="nombre_act" name="nombre_act" type="text" placeholder="Escriba el Nombre de la actividad"
                        required maxlength="40">
                </div>

                <div class="cont_btn">
                    <button class="btn_enviar_sesion" type="submit">Añadir actividad</button>
                </div>

                <!-- Mostrar error si existe -->
                <% if (typeof error !=='undefined' ) { %>
                    <span id="error_ini">
                        <%= error %>
                    </span>
                    <% } %>
            </form>
        </div>
    </main>
    <script>
        const btn_actualizar = document.querySelectorAll(".btn_actualizar");
        const Actualizar_datos = document.getElementById("Actualizar_datos");
        const nombre_act_input = document.getElementById("nombre_act");
        const label_nombre_act = document.getElementById("label_nombre_act");
        btn_actualizar.forEach(actualizar => {
            actualizar.addEventListener("click", (event) => {
                // Obtener el contenedor padre
                const datosUser = event.target.closest(".datos_user");

                // Extraer el nombre de la actividad
                const nombreActividad = datosUser.querySelector("h3").innerText;

                // Colocar el nombre en el input del formulario
                label_nombre_act.textContent = "Actulizando el valor de la actividad "+"`"+nombreActividad+"`";

                // Mostrar el formulario
                Actualizar_datos.classList.toggle("focus");
                Actualizar_datos.classList.toggle("desac");
            });
        });

        const cancel = document.getElementById("cancel");
        cancel.addEventListener("click", () => {
            Actualizar_datos.classList.toggle("focus");
            Actualizar_datos.classList.toggle("desac");
        });
    </script>
</body>

</html>