<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Strong</title>
    <link rel="stylesheet" href="css/estilo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="shortcut icon" href="../public/resources/mental-strong.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <main>
        <section id="ventana_prin">
            <aside id="menu_lateral">
                <%- include('menu.ejs') %>
            </aside>

            <section id="main_recetas" class="cont_prog_main">
                <div id="cont_text_main">
                    <a href="/progreso">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
                    <h2 id="nombre_us">Tus actividades</h2>
                </div>
 
                <div id="cont_prog">

                    <% let i=0; %>

                        <% if (results_query_prog && results_query_prog.length> 0) { %>
                            <% results_query_prog.forEach(actividad=> { %>
                                <div class="datos_user" id="datos_us<%= i %>">
                                    <div class="info" data-id="<%= actividad.ID %>"
                                        data-tipo="<%= actividad.TipoRegistro %>" <% const
                                        ultimaEntrada=Array.isArray(results_select_prog) ?
                                        results_select_prog.find(entry=> entry.id_actividad === actividad.ID) : null; %>
                                        <% if (ultimaEntrada) { %>
                                            data-fecha="<%= new Date(ultimaEntrada.Fecha).toLocaleDateString('es-ES') %>
                                                "
                                                data-valor="<%= ultimaEntrada.Valor %>"
                                                    <% } else { %>
                                                        data-fecha=""
                                                        data-valor=""
                                                        <% } %>
                                                            >
                                                            <h3><%- actividad.Nombre %></h3>
                                                            <% if (actividad.TipoRegistro == "Distancia_Km") { %>
                                                                <p>Tipo de medida: Distancia en Km</p>
                                                            <% } else if (actividad.TipoRegistro == "Distancia_m") { %>
                                                                <p>Tipo de medida: Distancia en m</p>
                                                            <% } else { %>
                                                                <p>Tipo de medida: <%- actividad.TipoRegistro %></p>
                                                            <% } %>
                                                            
                                                          
                                    </div>
                                    <div class="opciones">
                                        <a href="/progreso_focus/<%-actividad.ID %>" class="cont_a">
                                            <i class="fa-solid fa-chart-line"></i>
                                            Progreso
                                        </a>
                                        <p class="btn_actualizar cont_a">
                                            <i class="fa-solid fa-pen"></i>
                                            Actualizar
                                        </p>
                                    </div>
                                </div>
                                <% i +=1; %>
                                    <% }) %>
                                        <% } else { %>
                                            <p>No tienes actividades registradas.</p>
                                            <% } %>
                </div>

            </section>
        </section>

        <div id="Actualizar_datos" class="desac">
            <form method="post" action="/progreso_actualizar" class="form_us">
                <i class="fa-solid fa-xmark" id="cancel"></i>
                <h4>Actualizar Datos</h4>
                <div class="cont_inp">
                    <label for="valor_act" id="label_nombre_act"></label>
                    <input id="valor_act" name="valor_act" type="number"
                        placeholder="Escriba su nuevo valor del ejercicio" required maxlength="20"  min="1">
                </div>
                <input type="hidden" id="id_actividad" name="id_actividad">

                <p id="text_info"></p>

                <p>Se le recuerda que el intervalo de actualización recomendado es de entre 1 y 2 semanas.
                </p>
                <div class="cont_btn">
                    <button class="btn_enviar_sesion" type="submit">Añadir actividad</button>
                </div>

                <% if (typeof error !=='undefined' ) { %>
                    <span id="error_ini">
                        <%= error %>
                    </span>
                    <% } %>
            </form>
        </div>
    </main>

    <script>
        const btn_actualizar = document.querySelectorAll(".btn_actualizar");
        const Actualizar_datos = document.getElementById("Actualizar_datos");
        const label_nombre_act = document.getElementById("label_nombre_act");
        const input = document.getElementById("id_actividad");
        const input_val = document.getElementById("valor_act");
        const cancel = document.getElementById("cancel");

        btn_actualizar.forEach(actualizar => {
            actualizar.addEventListener("click", (event) => {
                document.querySelector('form').reset();
                const datosUser = event.target.closest(".datos_user");
                const nombreActividad = datosUser.querySelector("h3").innerText;
                const actividadId = datosUser.querySelector(".info").getAttribute("data-id");
                const fecha = datosUser.querySelector(".info").getAttribute("data-fecha");
                const valor = datosUser.querySelector(".info").getAttribute("data-valor");
                const tipo_dom = datosUser.querySelector(".info").getAttribute("data-tipo");
                const text_info = document.getElementById("text_info");
                let tipo;
                if (tipo_dom === "Peso") { tipo = "Kg"; }
                else if (tipo_dom === "Distancia_km") { tipo = "Km"; }
                else if (tipo_dom === "Distancia_m") { tipo = "m"; }
                else if (tipo_dom === "Repeticiones") { tipo = "reps"; }
                else if (tipo_dom === "Tiempo") { tipo = "min"; }

                if (fecha) {
                    text_info.innerText = `Tu última actualización fue el: ${fecha},con un valor de: ${valor} ${tipo}`;
                }
                else {
                    text_info.innerText = `Todavía no agregaste valores a esta actividad.`;
                }
                input.value = actividadId;
                input_val.setAttribute(`placeholder`, `Escriba el nuevo valor, la actividad esta medida en: ${tipo}`);
                label_nombre_act.textContent = "Actualizando el valor de la actividad " + nombreActividad;

                Actualizar_datos.classList.toggle("focus");
                Actualizar_datos.classList.toggle("desac");
            });
        });

        cancel.addEventListener("click", () => {
            document.querySelector('form').reset();
            Actualizar_datos.classList.toggle("focus");
            Actualizar_datos.classList.toggle("desac");
        });
    </script>
</body>

</html>