<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Mental Strong</title>
    <link rel="stylesheet" href="css/estilo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="shortcut icon" href="../public/resources/mental-strong.ico" type="image/x-icon">
</head>

<body>
    <main>

        <section id="ventana_prin">

            <aside id="menu_lateral">
                <%-include('menu.ejs')%>
            </aside>
            <section id="main_recetas_focus">

                <section id="cont_recetas_main">
                    <div id="cont_text_main">
                        <a href="/recetas">
                            <i class="fa-solid fa-arrow-left"></i>
                        </a>

                        <h2 class="text_prin"> <strong><%-data.title %> </strong></h2>
                    </div>


                    <img src="<%=data.image %>" alt="Descripción de la imagen">
                    <div class="text">
                        <%- data.summary %>
                    </div>

                    <ul class="ingredientes seccion">
                        <h4>Ingredientes necesarios</h4>
                        <% var i=0; %>
                            <% while(i < data.extendedIngredients.length) { %>
                                <li class="ingredientes_ietm">
                                    <%= data.extendedIngredients[i].original %>
                                </li>
                                <% i +=1; %>
                                    <% } %>
                    </ul>
                    <div class="seccion">
                        <h4>Instrucciones de la receta</h4>

                        <%- data.instructions %>
                    </div>
                    <div class="cont_ver_mas">
                        <span class="arrow"></span>
                        <button class="ver_mas">Ver los pasos detallados</button>
                        <span class="arrow"></span>
                    </div>
                    <div class="seccion" id="int_detalladas">
                        <h4 id="text_int_det">Instrucciones detalladas</h4>

                        <% data.analyzedInstructions.forEach((instruction, index)=> { %>
                            <h3 class="instruction-title">Paso <%= index + 1 %>: <%= instruction.name || `Instrucción
                                        ${index + 1}` %>
                            </h3>

                            <% instruction.steps.forEach((step)=> { %>
                                <div class="step">
                                    <p class="step-description"><strong>Paso <%= step.number %>:</strong>
                                        <%= step.step %>
                                    </p>

                                    <% if (step.ingredients && step.ingredients.length> 0) { %>
                                        <p class="ingredients-title"><strong>Ingredientes:</strong></p>
                                        <ul class="ingredients-list">
                                            <% step.ingredients.forEach((ingredient)=> { %>
                                                <li class="ingredient-item ingrediente">
                                                    <%= ingredient.name %>
                                                </li>
                                                <% }); %>
                                        </ul>
                                        <% } %>

                                            <% if (step.equipment && step.equipment.length> 0) { %>
                                                <p class="equipment-title"><strong>Equipos:</strong></p>
                                                <ul class="equipment-list">
                                                    <% step.equipment.forEach((equipment)=> { %>
                                                        <li class="equipment-item">
                                                            <%= equipment.name %>
                                                        </li>
                                                        <% }); %>
                                                </ul>
                                                <% } %>
                                </div>
                                <% }); %>
                                    <% }); %>
                    </div>

                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            var botonVerMas = document.querySelector('.ver_mas');
                            var int_detalladas = document.getElementById('int_detalladas');
                            botonVerMas.addEventListener('click', function () {
                                int_detalladas.classList.toggle('active')
                            });
                        });
                    </script>
                </section>
            </section>
        </section>
    </main>
</body>

</html>